<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <Pattern>%d{HH:mm:ss.SSS} %-5level [%msg] %logger{36} [%thread]%n</Pattern>
        </encoder>
    </appender>

    <logger name="br.com.runningcode.logging" level="debug"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>